<footer class="bg-dark">
    <section class="container upper-footer">
        <div class="row mx-0 w-100">
            <div class="col-md-12 col-lg-4">
                <h5>
                    <small class="text-secondary caption">
                        Head office
                    </small>
                </h5>
                <p class="text-white my-4" style="font-size: 1.125rem;">
                    429 Mahando Street, 104 Block C, <br />
                    Masaki, Dar es salaam
                </p>
            </div>
            <div class="col-md col-lg-4 justify-content-end">
                <h5>
                    <small class="text-secondary caption">
                        Site map
                    </small>
                </h5>

                <ul class="nav text-white my-4 justify-content-space-between" style="flex-direction: column;">
                    <li class="nav-item">
                        Home
                    </li>
                    <li class="nav-item">
                        About id8.space
                    </li>
                    <li class="nav-item">
                        Login
                    </li>
                </ul>
            </div>
            <div class="col-md col-lg-4">
                <form class="mt-n5 bg-dark contacts-form">
                    <p>
                        Have questions about membership, our
                        services and what we do? Write to us.
                    </p>
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                      <small id="helpId" class="form-text text-muted">Help text</small>
                    </div>

                    <div class="form-group my-4">
                        <label for="">Message</label>
                        <textarea type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                            </textarea>
                      </div>

                      <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">
                          Reach us
                      </button>
                </form>
            </div>
        </div>
    </section>

    <section class="lower-footer">
        <div class="container p-0">
            <div class="d-flex w-100 content-bar">
                <ul class="footer-list left">
                    <li>
                        2021 id8 space
                    </li>
                    <li>
                        Terms of use
                    </li>
                    <li>
                        Privacy policy
                    </li>
                </ul>
                <ul class="footer-list right">
                    <li>
                        <a href="#">
                            <img src="assets/img/twitter-ico.png" alt="twitter image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/facebook-ico.png" alt="twitter image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/instagram-ico.png" alt="twitter image">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/linkedIn-circle-ico.png" alt="twitter image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>
