<footer class="bg-dark">
    <section class="container upper-footer">
        <div class="row mx-0 w-100">
            <div class="col-md-12 col-lg-4">
                <h5>
                    <small class="text-secondary caption">
                        Head office
                    </small>
                </h5>
                <p class="text-white my-4" style="font-size: 1.125rem; line-height: 1.7;">
                    1st Floor, A-Wing, Regent Business Park<br />
                    Mikocheni, Dar es salaam <br />
                    +255 789 755 020
                </p>
                <img src="assets/svg/logo.svg" class="mt-2" width="160" alt="Id8 primary logo">

            </div>
            <div class="col-md col-lg-4 justify-content-end">
                <h5>
                    <small class="text-secondary caption">
                        Site map
                    </small>
                </h5>

                <ul class="nav text-white my-4 justify-content-space-between" style="flex-direction: column;">
                    
                    <li class="nav-item" [ngClass]="{'active': pageUrl === undefined}">
                        <a class="footer-link" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': pageUrl === 'about-us'}">
                        <a class="footer-link" href="/about-us">
                            About id8.space
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="footer-link" target="_blank" href="https://app.id8.space/auth/login">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md col-lg-4">
                <form [formGroup]="contactusForm" (ngSubmit)="onSubmit()" class="mt-n5 bg-dark contacts-form" id="contacts-form">
                    <p>
                        Have questions about membership, our
                        services and what we do? Write to us.
                    </p>
                    <div class="form-group">
                      <label for="">Name</label>
                      <input type="text" class="form-control" formControlName="name" placeholder="John Doe" name="name" id="contact-name" aria-describedby="nameId" >
                      <small class="text-danger font-weight-bold p-2" *ngIf="name.touched && name.invalid">
                          **Inavalid name
                      </small>
                    </div>

                    <div class="form-group my-4">
                        <label for="">Email</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="joe.doe@id8.space" name="email" id="contact-email" aria-describedby="emailId" >
                        <small id="helpId" class="form-text text-muted" *ngIf="!email.touched">ex. joe.doe@id8.space</small>
                        <small class="text-danger font-weight-bold p-2" *ngIf="email.touched && email.invalid">
                            **Inavalid email
                        </small>
                      </div>

                    <div class="form-group my-4">
                        <label for="">Message</label>
                        <textarea type="text" placeholder="Share your thoughts with us..." 
                                    rows="3" 
                                    class="form-control" 
                                    formControlName="message"
                                    name="message" 
                                    id="message" 
                                    aria-describedby="helpId" 
                                    ></textarea>
                      </div>

                      <button type="submit" 
                                id="" 
                                [disabled]="!contactusForm.valid"
                                [ngClass]="{'bg-success': emailSent}"
                                class="btn btn-primary no-border btn-lg btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="loading" class="sr-only">Sending mail...</span>
                            <span *ngIf="!loading && !emailSent">Reach out</span>
                            <span *ngIf="!loading && emailSent"><i class="bi bi-check"></i> Email sent..</span>
                      </button>
                </form>
            </div>
        </div>
    </section>

    <section class="lower-footer">
        <div class="container p-0">
            <div class="d-flex w-100 content-bar">
                <ul class="footer-list left">
                    <li>
                        &#169; 2021 id8 space. All rights reserved.
                    </li>
                </ul>
                <div class="footer-list right">
                    <app-socials></app-socials>
                </div>
            </div>
        </div>
    </section>
</footer>
