

// Overides
.container-xl {
    @media only screen and (min-width: 1640px) {
        max-width: 1440px;
    }
}

#navbarNav {transition: none;}
// this code eliminates delay for the navbar, for this code that is


.icon-bar {
	width: 22px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
    background-color: black;
    display: block;
    height: 2px;
    margin: 4px;
}

.navbar-toggler {
	border: 0px solid #ddd;
    color: transparent !important;

}

.login-link {
    display: none;   
}

.navbar {
    position: fixed;
    width: 100%;
}

g#notes {
    display: none;
}

.transparent-mode.navbar {
    padding: 2.5rem 0rem;
    transition: all ease-in .5s;
}



.navbar-nav {
    .nav-item {
        margin: 0rem .125rem;
        cursor: pointer;
        img {
            fill: var(--id-white);
        }
        a.nav-link {
            position: relative;
            color: var(--id-white);
            font-size: 1rem;
            opacity: .77;
        }

        a.nav-link:hover {
            color: var(--id-primary-color);
            opacity: .7;
        }
    }
    .nav-item.active {
        a.nav-link {
            color: var(--id-primary-color);
            font-weight: 600;
            opacity: 1;
        }
    }

    .nav-item.active .nav-link::after {
        content: '';
        background-color: var(--id-primary-color);
        border-radius: .5rem;
        position: absolute;
        display: block;
        margin: 0px auto;
        height: 4px;
        width: 24%;
        left: 0;
        // bottom: 0;
        right: 0;
    }

    .nav-item:hover {
        color: var(--id-primary-color);
    }
}

.nav-container {
    width: 100%;
    // padding: calc(var(--id-vt-spacing)*0) calc(var(--rs-gutter)*1.2);
    display: flex;
}

.brand-section {
    // min-width: 48vw;
    // max-width: 48vw;
    padding: 0rem;
}

ul.navbar-nav {
    width: fit-content;
    margin-left: auto;

}

.light-mode.navbar, .dark-mode.navbar {
        padding: 1rem 0rem;
        transition: all ease-in .5s;
        // box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);

}

.light-mode.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: var(--id-white);
    .navbar-nav {
        .nav-item {
            a.nav-link {
                color: var(--id-black);
            }
        }
        .nav-item.active {
            a.nav-link {
                color: var(--id-primary-color);
                opacity: 1;
            }
        }
    }
}

.dark-mode.navbar {
    border-bottom: 0px solid var(--id-white);
    background-color: var(--id-black);
}

.brand-image {
    width: 120%;
}

@media only screen and (min-width: 768px) {
    .brand-image {
        width: 80%;
    }

    .bd-highlight {
        margin: auto 1.5rem;
    }

    .dark-text {
        .nav-item {
            a.nav-link {
                color: var(--id-black);
            }
        }
        .nav-item.active {
            a.nav-link {
                color: var(--id-primary-color);
                opacity: 1;
            }
        }
    }
}


@media only screen and (max-width: 767.88px){

    .navbar-toggler {
        display: block;
    }
    .collapse.navbar-collapse {
        visibility: hidden;
        transition: all .5s;
        -webkit-transition: all .5s;

    }

    .nav-item {
        a.nav-link {
            color: var(--id-black);
        }
    }

    .collapsing {
        // height: 0vh;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        overflow: hidden;
        -webkit-transition-property: height, width, visibility;
        transition-property: height, width, visibility;
        -webkit-transition-duration: .7s;
        transition-duration: .7s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        
        // ul {
        //     background-color: white;
        //     transition: all .5s;
        //     -webkit-transition: all .5s;
        //     animation: shrink 1s !important;
        // }
    }

    .login-link {
        display: block;
        z-index: 1;
        a.nav-link.text-black {
            color: var(--id-black) !important;
        }
    }

    .nav-container {
        flex-direction: column;
        align-items: unset;
    }

    .brand-image {
        width: 100%;
    }

    .brand-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        button.navbar-toggler, a.navbar-brand {
            z-index: 1;
        }
    }

    .navbar-collapse.show {
        height: 0vh;
        display: flex;
        position: absolute;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        justify-content: center !important;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: all .5s;
        -webkit-transition: all .5s;
        animation: expand .5s forwards !important;
        visibility: visible;
        
        ul {
            // height: 0;
            // width: 0;
            justify-content: center;
            font-size: 1.5rem !important;

            a.nav-link {
                color: var(--id-black);
            }
        }

        .nav-item {
            a.nav-link {
                font-size: 1.3em;
            }


        }

    }
}

    /* The animation code */
    @keyframes expand {
        0% {
            opacity: 0;
            visibility: show;
        }
        100% {
            opacity: 1;
            height: 100vh;
            visibility: show;
            width: 100vw;
        }
      }

      @keyframes shrink {
        0% {
            opacity: 1;
            height: 100vh;
        }
        50% {
            opacity: 0;
            // width: 0vw;
            visibility: none;
        }

        100% {
            opacity: 0;
            height: 0vh;
            visibility: none;
            width: 0vw;
        }
      }



/* ANIMATED X */
.navbar-toggler.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */