

.navbar {
    position: fixed;
    width: 100%;
}

.nav-container {
    width: 100%;
    // padding: calc(var(--id-vt-spacing)*0) calc(var(--rs-gutter)*1.2);
    padding-right: calc(var(--rs-gutter)*1);
    display: flex;
}

.brand-section {
    max-width: 48vw;
    // min-width: 48vw;
    // max-width: 48vw;
    padding: 0rem;
}

ul.navbar-nav {
    width: fit-content;
    margin-left: auto;

}