<section class="fold">
    <div class="w-100 custom-container fold">
        <div class="d-flex container-xl" style="z-index: -1;">
            <div class="d-flex w-100 about">
                <div class="about-carousel my-auto">
                    <div class="carousel-title w-100 h-100">
                        <h2>
                            About <br />
                            id8 Space
                        </h2>
                    </div>
                </div>
                <!-- image here -->
            </div>
            <div class="h-100 w-100 my-auto">
                <!-- words here -->
                    <div class="pr-4 about content">
                        <h2 class="my-4" style="font-size: 18px;">
                            Connect. Collaborate. Create
                        </h2>
        
                        <p>
                            A dynamic and evolving community of diverse visionaries. 
                            An environment designed to foster skills and accelerate the success of entrepreneurs. <br /> <br />
        
                            Take your innovative business idea to the next level and join tailored programs 
                            that includes access to exclusive development support dedicated workshops and mentors. <br /> <br />
        
                            id8 aims to accelerate business innovation by building a bridge between world-leading 
                            research and the companies that are ambitious for growth in technology enabled markets. <br />
        
                        </p>
                    </div>
            </div>
        </div>
        <!-- <img class="carousel-image" src="assets/img/molecule.png"> -->
    </div>
</section>

<section id="news_section" class="w-100 bg-white">
    <div class="d-block container-xl my-5">
        <div class="d-flex news-header w-100" style="justify-content: space-between; ">
            <h2 class="">
                New and Updates
            </h2>

            <div class="d-flex category-header mt-3" style="justify-content: space-between;">
                <div class="my-auto ml-auto">
                    <ul class="news-nav">
                        <li class="news-nav-item" 
                                [ngClass]="{'active': currentURLIndex === 0}" 
                                (click)="changeCurrentFeed(0)">
                            East Africa
                        </li>
    
                        <li class="news-nav-item" 
                                [ngClass]="{'active': currentURLIndex === 1}" 
                                (click)="changeCurrentFeed(1)">
                            Africa
                        </li>
    
                        <li class="news-nav-item"
                                [ngClass]="{'active': currentURLIndex === 2}" 
                                (click)="changeCurrentFeed(2)">
                            Global
                        </li>
                    </ul>
                </div>
                <div class="pagination-text mt-4 my-md-auto my-lg-auto">
                    <span>
                        <img src="assets/img/rss.png" width="40"> Subscribed to Africa disrupt
                    </span>
                </div>
            </div>
        </div>
        <!-- News grid down here -->
        <div class="tiles d-flex justify-content-center p-5" *ngIf="loading">
            <div class="spinner-grow text-danger mx-auto" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only d-block mx-auto"></span>
              </div>
        </div>
        <div class="tiles my-5" *ngIf="news.length > 0 && !loading">
            <div class="tile-item" *ngFor="let new of news; let i = index; first as isFirst" 
                                [ngClass]="{'tile-one': isFirst, 'tile-two': i === 1, 'tile-three': i === 2, 'tile-four': i === 3}">
                <div class="news-container h-100">
                    <!-- <div class="img-container" *ngIf="currentURL === urls[1]" [innerHTML]="new?.description">

                    </div> -->
                    <div class="img-container">
                        <img [src]="newsImgs[i]">
                    </div>
                    <p class="news-tag">
                        {{new?.category[1]}}
                    </p>
                    <div class="news-title">
                        <p class="w-100 " >
                            {{new?.title}}
                        </p>
                        <caption>
                            {{new?.pubDate}}
                        </caption>
                    </div>
                </div>
            </div>


        </div>
        <div class="progress-section w-100">
            <div class="progress my-auto w-50">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="controls">
                  <div class="">
                      <img src="assets/svg/forward-ico.svg" alt="back-btn">
                  </div>
                  <div class="">
                    <img src="assets/svg/back-ico.svg" alt="back-btn">
                </div>
              </div>
        </div>

    </div>
</section>