<section class="fold">
    <div class="w-100 custom-container fold">
        <div class="d-flex container-xl" style="z-index: -1;">
            <div class="d-flex w-100 about">
                <div class="about-carousel my-auto">
                    <div class="carousel-title w-100 h-100">
                        <h2>
                            About <br />
                            id8 Space
                        </h2>
                    </div>
                </div>
                <!-- image here -->
            </div>
            <div class="h-100 w-100 my-auto">
                <!-- words here -->
                    <div class="pr-4 about content">
                        <h2 class="my-4" style="font-size: 18px;">
                            Connect. Collaborate. Create
                        </h2>
        
                        <p>
                            A dynamic and evolving community of diverse visionaries. 
                            An environment designed to foster skills and accelerate the success of entrepreneurs. <br /> <br />
        
                            Take your innovative business idea to the next level and join tailored programs 
                            that includes access to exclusive development support dedicated workshops and mentors. <br /> <br />
        
                            id8 aims to accelerate business innovation by building a bridge between world-leading 
                            research and the companies that are ambitious for growth in technology enabled markets. <br />
        
                        </p>
                    </div>
            </div>
        </div>
        <!-- <img class="carousel-image" src="assets/img/molecule.png"> -->
    </div>
</section>

<section id="news_section" class="w-100 bg-white">
    <div class="d-block container-xl my-5">
        <div class="d-flex news-header w-100" style="justify-content: space-between;">
            <h2 class="">
                New and Updates
            </h2>

            <div class="my-auto mr-auto">
                <ul class="news-nav">
                    <li class="news-nav-item active">
                        News
                    </li>

                    <li class="news-nav-item">
                        Oppotunities
                    </li>

                    <li class="news-nav-item">
                        Ecosystme
                    </li>
                </ul>
            </div>
        </div>
        <!-- News grid down here -->

        <div class="tiles">
            
        </div>

    </div>
</section>