.first.fold {
    width: 100%;

    .fold-container {
        width: 100%;
        display: flex;
        flex-basis: content;
        margin-right: unset !important;
        padding-right: unset;
        flex-direction: column-reverse;
    }

    .upper-fold {
        padding: 0rem;
    }
}


.rs-container {
    padding-top: 134.844px;
    width: 100%;
}


.form-area {
    padding: var(--id-vt-spacing) calc(var(--rs-gutter)*.5);
    input {
        width: 100%;
        height: 3.5rem;

    }

    .form-group {
        margin: 1.5rem 0rem;
    }

    button.submit {
        padding: 0rem 4rem !important;
    }
}

.carousel-container {
    display: flex;
    width: 100%;
    background-color: var(--id-black);
    color: var(--id-white);
    justify-content: flex-end;
    margin-left: auto;
    padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*.5);
    padding-top: calc(var(--id-vt-spacing)*1);
    padding-bottom: 0rem;

    .carousel-img {
        width: fit-content;
        object-fit: contain;
        background-repeat: no-repeat;
        object-position: right top;
        overflow-y: hidden;
        overflow-x: hidden;
        img {
            display: block;
            margin-left: auto;
        }
    }


}


@media only screen and(max-width: 737.98px) { 
    .carousel-fold {
        padding-top: 4rem;
    }
    .carousel-container {

        padding-right: 0rem;

        p {
            padding-right: 1rem;
        }
        .carousel-row {
            flex-wrap: wrap-reverse;
        }
    }
}


@media only screen and(min-width: 767.98px) { 
    .first.fold {
        .fold-container {
            flex-direction: row;
            flex-wrap: nowrap !important;
        }
    }
}

@media only screen and(min-width: 765px) { 
    .first.fold {
        .container {
            max-width: 1440px !important;
        }
    }
    .carousel-container {
        border-radius: 0rem 0rem 1.5rem 12rem;
        padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.5);
        padding-left: calc(var(--rs-gutter)*.725);
        padding-bottom: 0rem;

        .carousel-row {
            flex-direction: column-reverse !important;
        }
    }
}




@media only screen and(min-width: 1164px) { 

    .rs-container {
        width: 64%;
    }

    .form-area {
        padding: calc(var(--id-vt-spacing)*1.5) calc(var(--rs-gutter)*1);
        padding-right: calc(var(--rs-gutter)*1.2);
        // max-width: 48vw;
        input {
            width: 88%;
        }
    }
    
    .carousel-container {
        border-radius: 0rem 0rem 1.5rem 12rem;
        padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.5);
        padding-left: calc(var(--rs-gutter)*.725);
        padding-bottom: 0rem;

        .carousel-row {
            flex-direction: row-reverse !important;
        }
    }
    
}

.bg-carousel-absolute {
    background-color: var(--id-black);
    position: absolute;
    border-radius: 0rem 0rem 0rem 12rem;
    z-index: -1;
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
}




// new section here and a new way to write breakpoints
.second.fold, .third.fold {
    margin: 8rem 0rem;
    .fold-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page-mockup {
        flex-direction: row;
        flex-wrap: wrap;
        .mockup-bg {
            background-color: var(--id-primary-color);
            border-radius: 0rem .5rem .5rem 0rem;
            box-shadow: 4px 4px 10px var(--id-primary-shadow) ;
            width: 100%;
            height: fit-content;
            padding: 6.5rem 0rem;
            padding-left: 2rem;
            // display: flex;
            // justify-content: flex-end;
            img {
                width: 100%;
            }
        }
    
        @media only screen and (min-width: 767.98px) { 
                // flex-direction: column;
                flex-wrap: wrap;
                .mockup-bg {
                    width: 100%;
                }

        }

        @media only screen and (min-width: 1020.98px) { 
            flex-wrap: nowrap;
                .mockup-bg {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        width: unset !important;
                        // max-width: 120%;
                        margin: auto 0rem;
                        display: block;
                        max-width: 400px;
                    }
                }
        }

        @media only screen and (min-width: 1400.98px) {
            .mockup-bg {
                img {
                    width: unset !important;
                    // max-width: 120%;
                    margin: auto 0rem;
                    display: block;
                    max-width: unset !important;
                }
            }
        }
    }

    @media only screen and (min-width: 767.98px) {
        .page-mockup {
            width: 100%;
        }
    }

    @media only screen and (min-width: 1020.98px) {
        .fold-container {
            flex-wrap: nowrap;
        }
        .page-mockup {
            width: 70%;
        }
    }



    .content {
        padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.275);
        p {
            width: 100%;
        }


        .feature-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 3rem 0rem;
            
            .feature-illustration {
                width: 85%;
                max-width: 80%;
                img {
                    max-width: 75%;
                    margin: 1rem 0rem;
                }
            }

            .feature-ico {
                border-radius: 100%;
                background-color: var(--id-primary-shadow);
                padding: 1rem 0rem;
            }
        }

        @media only screen and (min-width: 760.98px){
            .feature-container {
                flex-wrap: nowrap;
                .feature-illustration {
                    width: 100%;
                    max-width: 100%;
                    img {
                        max-width: 100%;
                        margin: 0rem 0rem;
                    }
                }
            }
            
        }


        @media only screen and (min-width: 1164px) {
            .feature-container {
                // flex-wrap: wrap;
                flex-direction: row;
                .feature-illustration {
                    width: fit-content;
                    max-width: 25%;
                }
            }
        }
    }

    @media only screen and (min-width: 767.98px) {
        .content {
            padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*.5);
        }
        
    }
    @media only screen and (min-width: 1400){
        .content {
            padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*1);
            padding-right: calc(var(--rs-gutter)*1.5);
        }
    }
}




@media only screen and(min-width: 1400px) {
    .second.fold, .third.fold {
        max-width: 1440px !important;
        margin: 0rem auto;
    }
}



// third fold
.third.fold {
    max-width: 1440px;

    .fold-container {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    
    .patners-logo {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        img {
            margin: 0rem 1.5rem;
        }
    }


    @media only screen and(min-width: 1024px) {
        .fold-container {
            justify-content: center;

        }

        .patners-logo {
            justify-content: center;
            img {
                margin: 0rem 2.5rem;
            }
        }
    }
}



