// *************** General html element **************************//
section {
    margin: 2rem auto;

    @media only screen and (min-width: 768px) {
        margin: 8rem auto;
    }
    @media only screen and(min-width: 1400px) {
            max-width: 1440px !important;
    }
}

section:first-child {
    margin-top: 0rem;
}


::ng-deep {
    .main-title {
        font-size: calc(1.5em + 2.275vw) !important;
        margin: 1rem 0rem;
        margin-bottom: 0rem;
        // opacity: 0;
        // transform: translateY(-3rem);
        // animation: fadeInUp 3s ease-in-out forwards;
    }

    .main-title .changing-text {
        display: block;
        position: relative;
        font-family: var(--id8-monospace);
        height: max-content;
        width: max-content;
        opacity: 1;
        transform: translateY(-.725rem);
        // animation: fadeInUp 2s ease-in forwards;
    }

    .main-title .changing-text::after,
    .main-title .changing-text::before {
        content: "";
        position: absolute;
        // height: 100%;
        left: -1%;
        bottom: 0;
        right: 0;
    }

    .changing-text::after {
        width: .3em;
        height: 15%;
        background-color: #000;
        bottom: 4px !important;
    }

    .changing-text::before {
        top: 0;
        background-color: #fff;
    }

    .changing-text.create::before {
        animation: typewriter 3s steps(7) forwards;
    }

    .changing-text.create::after {
        animation: 
                typewriter 3s steps(7) forwards, 
                blink 500ms steps(7) infinite;
    }

    .changing-text.collaborate::before {
        animation: typewriter 3s steps(12) forwards,;
    }

    .changing-text.collaborate::after {
        animation: 
                    typewriter 3s steps(12) forwards,
                    blink 500ms steps(12) infinite;;
    }

    .changing-text.connect::before {
        animation: typewriter 3s steps(8) forwards;
    }

    .changing-text.connect::after {
        animation: 
                    typewriter 3s steps(8) forwards,
                    blink 500ms steps(8) infinite;
    }
}

@keyframes typewriter {
    50% {
        left: 100%;
    }

    100% {
        left: -1%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(.725rem);
        opacity: 0;
    }
}





//**************** First section here the upper fold *************//
//****************************************************************//
.first.fold {
    width: 100%;

    .fold-container {
        width: 100%;
        display: flex;
        flex-basis: content;
        margin-right: unset !important;
        padding-right: unset;
        flex-direction: column-reverse;
    }

    .upper-fold {
        padding: 0rem;
    }
}


.rs-container {
    // padding-top: 184.844px;
    width: 100%;
}


.form-area {
    padding: calc(var(--id-vt-spacing)*0) calc(var(--rs-gutter)*.275);
    margin-top: auto;
    input {
        width: 100%;
        height: 3.5rem;

    }

    .form-group {
        margin: 1.5rem 0rem;
    }
    
    .form-group:nth-child(1) {
        margin: 1.5rem 0rem;
        margin-top: .5rem;
    }

    button.submit {
        padding: 0rem 4rem !important;
    }
}

.carousel-container {
    display: flex;
    width: 100%;
    background-color: var(--id-black);
    color: var(--id-white);
    justify-content: flex-end;
    margin-left: auto;
    padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*.5);
    padding-top: calc(var(--id-vt-spacing)*1);
    padding-bottom: 0rem;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);

    .carousel-img {
        width: fit-content;
        object-fit: contain;
        background-repeat: no-repeat;
        object-position: right top;
        img {
            display: block;
            margin-left: auto;
            object-fit: contain;
            max-width: 160px;
        }
    }

    .slider {
        height: fit-content;
        padding-top: 2.5rem;
    }


}


@media only screen and(max-width: 737.98px) { 
    .carousel-fold {
        padding-top: 4rem;
    }
    .carousel-container {
        border-radius: 0rem 0rem 1rem 1rem;
        padding-right: 0rem;
        padding-left: calc(var(--rs-gutter)*.25);

        p {
            padding-right: 1rem;
            font-size: 18px;
        }
        .carousel-row {
            flex-wrap: wrap-reverse;
        }
    }

    .rs-container {
        .form-area {
            padding: 0rem 1rem;
            margin: 2.5rem 0rem;
        }
    }

    
}


@media only screen and(min-width: 767.98px) { 
    .first.fold {
        .fold-container {
            flex-direction: row;
            flex-wrap: nowrap !important;
        }
    }

    .slider {
        padding-top: 12rem;
    }

    .rs-container {
        // padding-top: 3rem;
        display: flex;
        align-items: center;

    }
    
}

@media only screen and(min-width: 765px) { 
    .first.fold {
        .container {
            max-width: 1440px !important;
        }
    }
    .carousel-container {
        border-radius: 0rem 0rem 1rem 12rem;
        padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.5);
        padding-left: calc(var(--rs-gutter)*.725);
        padding-bottom: 0rem;

        .carousel-row {
            flex-direction: column-reverse !important;
        }

        .carousel-img {
            img {
                max-width: 280px !important;
            }
        }
    }
}




@media only screen and(min-width: 992px) { 

    .rs-container {
        width: 75%;
    }

    .form-area {
        padding: calc(var(--id-vt-spacing)*0) calc(var(--rs-gutter)*0);
        padding-right: calc(var(--rs-gutter)*1.2);
        // max-width: 48vw;
        input {
            width: 80%;
        }
    }
    
    .carousel-container {
        border-radius: 0rem 0rem 1rem 12rem;
        padding: calc(var(--id-vt-spacing)*2) calc(var(--rs-gutter)*.5);
        padding-left: calc(var(--rs-gutter)*.725);
        padding-bottom: 0rem;
        padding-right: 0rem;

        .carousel-row {
            flex-direction: row-reverse !important;
        }

        .carousel-img {
            img {
                max-width: 400px !important;
            }
        }
    }
    
}

.bg-carousel-absolute {
    background-color: var(--id-black);
    position: absolute;
    border-radius: 0rem 0rem 0rem 12rem;
    z-index: -1;
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
}




// new section here and a new way to write breakpoints
.second.fold, .third.fold {
    .fold-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page-mockup {
        flex-direction: row;
        flex-wrap: wrap;
        .mockup-bg {
            background-color: var(--id-primary-color);
            border-radius: 0rem .5rem .5rem 0rem;
            box-shadow: 4px 4px 10px var(--id-primary-shadow) ;
            width: 100%;
            height: fit-content;
            padding: 6.5rem 0rem;
            img {
                width: 100%;
            }
        }
    
        @media only screen and (min-width: 767.98px) { 
                // flex-direction: column;
                flex-wrap: wrap;
                .mockup-bg {
                    width: 100%;
                }

        }

        @media only screen and (min-width: 1020.98px) { 
            flex-wrap: nowrap;
                .mockup-bg {
                    width: 80%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    img {
                        width: unset !important;
                        // max-width: 120%;
                        margin: auto 0rem;
                        display: block;
                        max-width: 400px;
                    }
                }
        }

        @media only screen and (min-width: 1400.98px) {
            .mockup-bg {
                img {
                    width: unset !important;
                    // max-width: 120%;
                    margin: auto 0rem;
                    display: block;
                    max-width: unset !important;
                }
            }
        }
    }

    @media only screen and (min-width: 767.98px) {
        .page-mockup {
            width: 100%;
        }
    }

    @media only screen and (min-width: 1020.98px) {
        .fold-container {
            flex-wrap: nowrap;
        }
        .page-mockup {
            width: 80%;
        }
    }



    .content {
        padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.275);
        p {
            width: 100%;
        }


        .feature-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 3rem 0rem;
            
            .feature-illustration {
                width: 85%;
                max-width: 80%;
                img {
                    max-width: 75%;
                    margin: 1rem 0rem;
                }
            }

            .feature-ico {
                border-radius: 100%;
                background-color: var(--id-primary-shadow);
                padding: 1rem 0rem;
            }
        }

        @media only screen and (min-width: 760.98px){
            .feature-container {
                flex-wrap: nowrap;
                .feature-illustration {
                    width: 100%;
                    max-width: 100%;
                    img {
                        max-width: 100%;
                        margin: 0rem 0rem;
                    }
                }
            }
            
        }


        @media only screen and (min-width: 1164px) {
            .feature-container {
                // flex-wrap: wrap;
                flex-direction: row;
                .feature-illustration {
                    width: fit-content;
                    max-width: 25%;
                }
            }
        }
    }

    @media only screen and (min-width: 767.98px) {
        .content {
            padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*1);
            padding-left: 3rem;
        }
        
    }
    @media only screen and (min-width: 1400px){
        .content {
            padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*1);
            padding-right: calc(var(--rs-gutter)*0);
        }
    }
}




// third fold
.third.fold {
    max-width: 1440px;

    .fold-container {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    
    .patners-logo {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        // overflow-x: scroll;
        img {
            margin: 1.5rem;
            margin-bottom: 1.5rem;
            max-width: 136px;
            @media only screen and(min-width: 1024px) {
                max-width: 184px;
            }
        }
    }


    @media only screen and(min-width: 1024px) {
        .fold-container {
            justify-content: center;

        }

        .patners-logo {
            justify-content: center;
            img {
                margin: 0rem 2.5rem;
            }
        }
    }
}



