

// *************** General html element **************************//
section {
    margin: 2rem auto;

    @media only screen and (min-width: 768px) {
        margin: 8rem auto;
    }
    @media only screen and(min-width: 1400px) {
            max-width: 1440px !important;
    }
}

section:first-child {
    margin-top: 0rem;
}

.scroll-down {
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    opacity: .7;
    padding: .1rem;
    margin: 0rem auto;
    height: 2.5rem;
    border-radius: 2rem;
    border: 2px solid var(--id-black);
    width: 1.5rem;
    background-color: var(--id-white);

    .mouse-line {
        width: 1px;
        height: 50%;
        position: relative;
        top: 0rem;
        animation: scroll 2s ease-in infinite;
        animation-delay: 3s;
        transition: all ease-in 2s;
    }

}

::ng-deep {
    .main-title {
        font-size: calc(1.5em + 2.275vw) !important;
        margin: 1rem 0rem;
        margin-bottom: 0rem;
        // opacity: 0;
        // transform: translateY(-3rem);
        // animation: fadeInUp 3s ease-in-out forwards;
    }

    .main-title .changing-text {
        display: block;
        position: relative;
        font-family: var(--id8-monospace);
        height: max-content;
        width: max-content;
        opacity: 1;
        transform: translateY(-.725rem);
        // animation: fadeInUp 2s ease-in forwards;
    }

    .main-title .changing-text::after,
    .main-title .changing-text::before {
        content: "";
        position: absolute;
        // height: 100%;
        left: -.1em;
        bottom: 0;
        right: 0;
    }

    .changing-text::after {
        width: .3em;
        height: 15%;
        background-color: #000;
        bottom: 4px !important;
    }

    .changing-text::before {
        top: 0;
        background-color: #fff;
    }

    .changing-text.create::before {
        animation: typewriter var(--typewrite-speed) steps(7) forwards;
    }

    .changing-text.create::after {
        animation: 
                typewriter var(--typewrite-speed) steps(7) forwards, 
                blink var(--blink-speed) steps(7) infinite;
    }

    .changing-text.collaborate::before {
        animation: typewriter var(--typewrite-speed) steps(12) forwards,;
    }

    .changing-text.collaborate::after {
        animation: 
                    typewriter var(--typewrite-speed) steps(12) forwards,
                    blink var(--blink-speed) steps(12) infinite;;
    }

    .changing-text.connect::before {
        animation: typewriter var(--typewrite-speed) steps(8) forwards;
    }

    .changing-text.connect::after {
        animation: 
                    typewriter var(--typewrite-speed) steps(8) forwards,
                    blink var(--blink-speed) steps(8) infinite;
    }
}




//**************** First section here the upper fold *************//
//****************************************************************//
.first.fold {
    width: 100%;

    .fold-container {
        width: 100%;
        display: flex;
        flex-basis: content;
        margin-right: unset !important;
        padding-right: unset;
        flex-direction: column-reverse;
    }

    .upper-fold {
        padding: 0rem;
    }
}


.rs-container {
    // padding-top: 184.844px;
    width: 100%;
}


.form-area {
    padding: calc(var(--id-vt-spacing)*0) calc(var(--rs-gutter)*.275);
    margin-top: auto;
    input {
        width: 100%;
        height: 3.5rem;

    }

    .form-group {
        margin: 1.5rem 0rem;
    }
    
    .form-group:nth-child(1) {
        margin: 1.5rem 0rem;
        margin-top: .5rem;
    }

    button.submit {
        padding: 0rem 4rem !important;
    }
}

.carousel-container {
    display: flex;
    width: 100%;
    background-color: var(--id-black);
    color: var(--id-white);
    justify-content: flex-end;
    margin-left: auto;
    padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*.5);
    padding-top: calc(var(--id-vt-spacing)*1);
    padding-bottom: 0rem;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);

    .carousel-text {
        height: 10rem;
    }

    .carousel-indicators {
        width: 50%;
        flex-direction: row;
        display: flex;
        z-index: 0;
        justify-content: space-between;
        margin: 0rem auto;
        position: absolute;
        padding-bottom: 1rem;

        .carousel-indicator {
            height: .5rem;
            width: 100%;
            border-top-left-radius: 50px 225px;
            border-top-right-radius: 25px 200px;
            border-bottom-right-radius: 250px 125px;
            border-bottom-left-radius: 125px 200px;
            margin: 0rem .275rem;
            background-color: var(--id-primary-color);
            opacity: .2;
        }

        .carousel-indicator:nth-child(1) {
            margin-left: 0rem;
        }

        .carousel-indicator.active {
            opacity: 1;
        }
    }

    .carousel-img {
        width: fit-content;
        position: relative;
        object-fit: contain;
        background-repeat: no-repeat;
        object-position: right top;
        img {
            display: block;
            margin: auto;
            object-fit: contain;
            max-width: 232px;
        }
    }

    .slider {
        height: fit-content;
        position: relative;
    }


}

.gradient-mask {
    background: linear-gradient(317deg, rgba(18,22,23,0) 0%, rgba(18,22,23,1) 88%, rgba(18,22,23,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media only screen and(max-width: 737.98px) { 
    .carousel-fold {
        padding-top: 4rem;
    }
    .carousel-container {
        border-radius: 0rem 0rem 0rem 0rem;
        padding-left: calc(var(--rs-gutter)*.25);
        padding-right: calc(var(--rs-gutter)*.25);
        min-height: 85vh;

        .carousel-text {
            height: 10rem;
        }


        p {
            // padding-right: 1rem;
            font-size: 18px;
        }
        .carousel-row {
            flex-wrap: wrap;
        }
    }

    .rs-container {
        .form-area {
            padding: 0rem 1rem;
            margin: 2.5rem 0rem;
        }
    }

    
}


@media only screen and(min-width: 767.98px) { 
    .first.fold {
        .fold-container {
            flex-direction: row;
            flex-wrap: wrap-reverse;
        }
    }

    .slider {
        padding-top: 3.75rem;

        // padding-top: 12rem;
    }

    .rs-container {
        // padding-top: 3rem;
        display: flex;
        align-items: center;
        .form-area {
            padding-top: calc(var(--id-vt-spacing)*.75);

            input {
                width: 75%;
            }
        }

    }

    .carousel-container {
        border-radius: 0rem 0rem 0rem 0rem;
        // padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.5);
        // padding-left: calc(var(--rs-gutter)*.725);
        padding-bottom: 0rem;

        .carousel-indicators {
            width: 50%;
            bottom: -2%;
            margin: 0rem;
        }

        .carousel-text {
            height: 10rem;
        }

        .carousel-row {
            // flex-direction: column-reverse !important;
        }

        .carousel-img {
            img {
                max-width: 340px;
            }
        }
    }
    
}

@media only screen and(min-width: 992px) { 
    .first.fold {
        .fold-container {
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    .rs-container {
        .form-area {
            padding-top: calc(var(--id-vt-spacing)*2.75);;
        }
    }
    .carousel-container {
        border-radius: 0rem 0rem 1rem 12rem;

        .carousel-row {
            flex-wrap: wrap-reverse;
        }

        .carousel-indicators {
            bottom: -15%;
        }

        .carousel-text {
            height: 5rem;
        }

        .carousel-img {
            img {
                max-width: 280px;
            }
        }
    }
    
    
}

@media only screen and(min-width: 1200.56px) { 
    .form-area {
        padding-right: calc(var(--rs-gutter)*1.2);
        // max-width: 48vw;
        input {
            width: 80%;
        }

    }

    .carousel-container {
        .carousel-indicators {
            width: 75%;
            bottom: -2%;
            margin: 0rem;
        }
    }
}




@media only screen and(min-width: 1400.56px) { 

    .rs-container {
        width: 75%;
    }

    .form-area {
        padding: calc(var(--id-vt-spacing)*0) calc(var(--rs-gutter)*0);
        padding-right: calc(var(--rs-gutter)*1.2);
        // max-width: 48vw;
        input {
            width: 80%;
        }
    }
    
    .carousel-container {
        border-radius: 0rem 0rem 1rem 12rem;
        padding: calc(var(--id-vt-spacing)*2) calc(var(--rs-gutter)*.5);
        padding-left: calc(var(--rs-gutter)*.725);
        padding-bottom: 0rem;
        padding-right: 0rem;

        .carousel-text {
            height: 10rem;
        }

        .carousel-row {
            flex-direction: row-reverse;
            flex-wrap: nowrap;
        }

        .carousel-img {
            height: 608px;
            width: 416px !important;
            img {
                height: 100%;
                min-height: 618px;
                min-width: 424px !important;
            }
        }
    }
    
}

.bg-carousel-absolute {
    background-color: var(--id-black);
    position: absolute;
    border-radius: 0rem 0rem 0rem 12rem;
    z-index: -1;
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
}




// new section here and a new way to write breakpoints
.second.fold, .third.fold {
    .fold-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page-mockup {
        flex-direction: row;
        flex-wrap: wrap;
        .mockup-bg {
            background-color: var(--id-white);
            // box-shadow: 4px 4px 10px #00000008 ;
            width: 100%;
            height: fit-content;
            border-top-right-radius: 55px 100px !important;
            border-bottom-right-radius: 100px 35px !important;
            border-bottom-left-radius: 100px 150px !important;

            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        @media only screen and (min-width: 767.98px) { 
                // flex-direction: column;
                flex-wrap: wrap;
                .mockup-bg {
                    width: 100%;
                    height: 100%;
                }

        }

        @media only screen and (min-width: 1020.98px) { 
            flex-wrap: nowrap;
                .mockup-bg {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    img {
                        margin: auto 0rem;
                        display: block;
                    }
                }
        }

        @media only screen and (min-width: 1240.98px) {
            .mockup-bg {
                max-height: 680px;
                img {
                    width: 100%;
                    margin: auto 0rem;
                    display: block;
                    // height: 100%;
                }
            }
        }
    }

    @media only screen and (min-width: 767.98px) {
        .page-mockup {
            width: 100%;
        }
    }

    @media only screen and (min-width: 1020.98px) {
        .fold-container {
            flex-wrap: nowrap;
        }
        .page-mockup {
            width: 100%;
        }
    }



    .content {
        padding: calc(var(--id-vt-spacing)*.275) calc(var(--rs-gutter)*.275);
        p {
            width: 100%;
        }


        .feature-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 3rem 0rem;
            
            .feature-illustration {
                width: 85%;
                max-width: 80%;
                img {
                    max-width: 75%;
                    margin: 1rem 0rem;
                }
            }

            .feature-ico {
                border-radius: 100%;
                background-color: var(--id-primary-shadow);
                padding: 1rem 0rem;
            }
        }

        @media only screen and (min-width: 760.98px){
            .feature-container {
                flex-wrap: nowrap;
                .feature-illustration {
                    width: 40%;
                    img {
                        max-width: 100%;
                        margin: 0rem 0rem;
                    }
                }
            }
            
        }


        @media only screen and (min-width: 1164px) {
            .feature-container {
                // flex-wrap: wrap;
                flex-direction: row;
                .feature-illustration {
                    width: fit-content;
                    max-width: 25%;
                    
                }
            }
        }
    }

    @media only screen and (min-width: 767.98px) {
        .content {
            // padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*1);
            padding-left: 1.5rem;
            padding-right: 0rem;
        }
        
    }
    @media only screen and (min-width: 1400px){
        .content {
            padding: calc(var(--id-vt-spacing)*.5) calc(var(--rs-gutter)*1);
            padding-right: calc(var(--rs-gutter)*0);
        }
    }
}




// third fold
.third.fold {
    max-width: 1440px;

    .fold-container {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    
    // .partners-logo {
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     // overflow-x: scroll;
    //     img {
    //         margin: 1.5rem;
    //         margin-bottom: 1.5rem;
    //         height: fit-content;
    //         @media only screen and(min-width: 767.89px) {
    //             max-width: calc(124px + 2vw);
    //         }
    //         @media only screen and(min-width: 995.98px) {
    //             max-width: calc(124px + 3vw);
    //         }
    //     }
    // }


    @media only screen and(min-width: 1024px) {
        .fold-container {
            justify-content: center;

        }

        // .partners-logo {
        //     justify-content: center;
        //     img {
        //         margin: 0rem 2.5rem;
        //     }
        // }
    }
}


// keyframes


@keyframes typewriter {
    10% {
        left: 100%;
    }

    90% {
        left: 100%;
    }

    100% {
        left: -1%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(.725rem);
        opacity: 0;
    }
}

@keyframes scroll {
    25% {
        margin-bottom: auto;
        margin: 0rem auto;
        left: 0;
        right: 0;
        top: .9rem;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
    }
    
    75% {
        margin-top: auto;
        background-color: #000;
        top: .9rem;
        border-radius: 50%;
        width: 1.1rem;
    }
    

    100% {
        top: .275rem;
    }
}


/************* News Section here ***************/

section#news_section {
    margin-top: 0rem;
    margin-bottom: 10rem;
}
.news-header {
    padding: 1.275rem 0rem;
    border-bottom: 1px solid #70707016;
    flex-direction: column;

    .pagination-text > span {
        display: none;
        font-size: calc(.275rem + 1vw);
        font-weight: 300;

        @media only screen and (min-width: 764px){
            display: block;
        }
    }
    .news-nav {
        align-self: center;
        display: flex;
        list-style: none;
        flex-direction: row;
        margin: auto 0rem;
        padding-left: 0rem;
    }

    .news-nav-item {
        padding: 1rem 1.275rem;
        font-size: .85em;
        font-weight: 700;
        color: var(--id-black);
        opacity: .4;
    }

    .news-nav-item:hover {
        opacity: .7;
        cursor: pointer;
    }

    .news-nav-item.active {
        opacity: 1;
        background-color: var(--id-secondary);
        padding: 1rem 1.5rem;
        color: var(--id-white);
        border-top-left-radius: 100px 50px;
        border-top-right-radius: 100px 200px ;
        border-bottom-right-radius: 100px 50px;
        border-bottom-left-radius: 100px 200px;
    }

    .news-nav-item:nth-last-child(1) {
        padding-right: 0rem;
    }
}

.tiles {
    display: grid;
    --n: 4;
    grid-column: 1 / -1;
    overflow-x: auto;
    
    // grid-template-columns: auto auto auto auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));;
    grid-template-rows: repeat(1, minmax(10px, 1fr));
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    grid-gap: 1rem;
    
    @media only screen and (min-width: 764px){
        max-height: 80vh;
        grid-template-rows: minmax(320px, 1fr) !important;
        grid-template-columns: repeat(4, minmax(0, 1fr));;

    }
}

.tile-item {
    min-height: 18rem;
    max-height: 18rem;
    border-radius: 1rem;

    
    @media only screen and (min-width: 764px){
        max-height: unset;
        &.tile-one {
            grid-column: 1 / 3; 
            grid-row: 1 / 3;
        }
    
        &.tile-two {
            grid-column: 3 /  5;
            grid-row: 1 / 1
        }

        &.tile-three {
            grid-column: 3 /  4;
        }

        &.tile-four {
            grid-column: 4 /  5;
        }
        
    }
}

.news-container {
    position: relative;
    z-index: 0;
    cursor: pointer;
    height: 100%;
    
    .img-container {
        position: relative;
        z-index: -1;
        overflow: hidden;
        height: inherit;
        border-radius: .5rem;
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            border-radius: .5rem;
            width: 100%;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0, 0, 15, 0.6) 60%, rgba(0,0,0,1) 100%);
        }

        &::ng-deep {
            div {
                height: 100%;
                width: 100%;
            }

            div > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 300ms ease-in;
                transform: scale(1);
                border-radius: .5rem;
            }
            div > div {
                display: none !important;
            }
        }
    }
    img {
        border-radius: .5rem;
        width: 100%;
        object-fit: cover;
        height: 100%;
        transform: scale(1);
        transition: all 300ms ease-in;
    }

    p.news-tag {
        font-weight: 500 !important;
        font-family: var(--id8-secondary-font);
        background-color: var(--id-black);
        padding: .5rem;
        position: absolute;
        margin: 0rem 1.725rem;
        border-top-left-radius: 140px 25px;
        border-top-right-radius: 50px 200px;
        border-bottom-right-radius: 40px 50px;
        border-bottom-left-radius: 210px 25px;
        top: 1.5rem;
        right: 0;
        color: var(--id-white);
        font-size: calc(1rem + .125vw) !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .news-title {
        position: absolute;
        margin: 0rem 1.725rem;
        bottom: 1.5rem;
        color: var(--id-white);
    }
    
    p {
        overflow: hidden;
        font-family: var(--id8-primary-font);
        font-weight: 600;
        font-size: calc(1rem + .3vw) !important;
        text-overflow: ellipsis;
        display: -webkit-box;
        margin-bottom: 0rem !important;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;

    }
    caption {
        display: block;
        width: 100%;
        font-size: calc(.5rem + .35vw) !important;
    }

    &:hover {
        cursor: pointer;
        .img-container {
            overflow: hidden;
            border-radius: .5rem;
            img {
                transform: scale(1.1);
                transition: all 300ms ease-in;
            }
        }
    }
    
}

.progress-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8rem;

    .controls {
        display: flex;
        flex-direction: row;

        div {
            margin: 0rem .725rem;
            transition: all 100ms ease-in;
            
            img {
                border-radius: 50%;
                box-shadow: 0px 0px 0px rgba(0, 0, 15, 0);
                cursor: pointer;
                transform: scale(1.3);
                &:hover {
                    transition: all 100ms ease-in;
                    box-shadow: 0px 2px 4px rgba(0, 0, 15, 0.2);
                }
            }
        }

        div:not(:nth-child(1)) {
            margin-right: 0rem;
        }
    }
}






