<section id="not_found_page">
    <div class="error-block">
        <!-- <img src="assets/svg/logo.svg" alt="id8 logo" width="140" class="mx-auto"> -->
        <h1>
            Page not found
        </h1>
    
        <p>
            Sorry but the page your looking for doesnt exist
        </p>
        <a name="" id="" class="btn btn-white w-50 my-4" href="/" role="button">
            Go home
        </a>
        
    </div>
    <div class="socials justify-content-center">
        <app-socials></app-socials>
        <p class="text-center my-3">
            @id8space
        </p>
    </div>
</section>